html, body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f8f8f8;
    padding-top: 0.1px;
}

#nav{
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 40px;
    align-items: center;
}

#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    position: relative;
    letter-spacing: -1px;
}

#nav h1::before{
    content: "made by Rishi";
    position: absolute;
    font-size: 15px;
    right: 16%;
    bottom: 15%;
    color: #666;
    font-weight: 400;
    letter-spacing: 1px;
}

#nav h1::after{
    content: "©️";
    font-size: 15px;
    position: absolute;
    top: 18%;
    right: 3%;
    font-weight: 400;
}

#nav h2{
    height: 100%;
    width: 25%;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 28px;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#nav h2:nth-last-child(2){
    width: 30%;
}

#nav img{
    height: 10vh;
    width: fit-content;
    object-fit: cover;
    padding: 0.1;
}

#nav h3{
    display: none;
}

#center{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 3vw 4vw;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    color: white;
    padding: 3vw;
}

#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

#over1 h1{
    font-size: 3vh;
}

#over1 h2{
    font-size: 1vw;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3vw 2.5vh;
}

#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid white;
    padding: 1.5vw 0 2vw 0;
}

#over2 h4{ 
    font-weight: 400;
    font-size: 30px;
}

#over2 img{
    height: 3vw;
    gap: 1vw;
}

#img-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}

#scroll{
    width: 100%;
    height: 40vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    height: 95%;
    width: 13%;
    border-radius: 50%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    gap: 1vw;
}

#alphabet h5{
    font-style: italic;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    font-weight: 100;
    text-transform: uppercase;
    font-style: italic;
    padding: 1.6vw 1vw;
    border-radius: 50%;
    transition: all ease 0.2s;
    cursor: pointer;
    letter-spacing: 4px;
}

#alphabet h6:hover{
    border: 1px solid black;
}

#page2{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2rem;
}

#page2-part1{
    width: 50%;
    height: 100%;
    padding-left: 4vw;
    padding-right: 2vw;
}

#page2-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page2-part1 h5{
    font-size: 3vw;
    font-weight: bolder;
    letter-spacing: -1px;
}

#page2-part2{
    width: 50%;
    height: 100%;
    padding-right: 4vw;
    padding-left: 2vw;
}

#page2-part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page2-part2 h5{
    width: 60%;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
}

#page2-part2 p{
    width: 40%;
    margin-top: 1vw;
}

#solo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;
}

#page3{
    height: 100%;
    width: 100%;
    padding: 5vw 4vw 0 4vw;
    position: relative;
}

#page3 > h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 4vw;
    text-transform: uppercase;
    margin-top: 7vh;
}

.elem{
    display: flex;
    height: 15vh;
    width: 100%;
    border-top: 2px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0.2vw;
    position: relative;
}

.elem img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem:nth-last-child(1) img{
    left: 40%;
}
.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:nth-last-child(5) img{
    left: 40%;
}

.elem:hover img{
    opacity: 1;
    left: 24%;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem > h4{
    font-weight: 400;
    font-size: 1.5vw;
    padding-left: 2vw;
}

.elem-part2{
    width: 45%;
}

.elem-part2 h1{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 2.5vw;
}

.elem-part2 h5{
    font-size: 0.7vw;
    font-weight: 200;
    text-transform: uppercase;
}

#marque{
    display: flex;
    white-space: nowrap;
    width: 100%;
    padding: 0.8vw;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 2vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    margin-right: 16px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation-name: move;
    animation-duration: 2s;
    letter-spacing: 3px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

#footer{
    text-align: center;
    padding: 30px;
}

#footer h5{
    font-size: 1.2vw;
    letter-spacing: 1.5px;
}

#footer a{
    text-decoration: none;
    color: black;
}

@media (max-width:600px) {
    body{
        overflow-x: hidden;
        -webkit-user-select: none; /* disables selection of text*/
    }

    #nav{
        height: 8vh;
        margin-top: 20px;
        padding: 0vw 5vw;
    }

    #nav h1{
        font-size: 14px;
        justify-content: flex-start;
        width: 40%;
    }

    #nav h1::after, #nav h1::before{
        display: none;
    }

    #nav h2{
        display: none;
    }

    #nav img{
        display: none;
    }

    #nav h3{
        display: block;
    }

    #overlay{
        height: fit-content;
    }

    #over1 h1{
        font-size: 5vw;
    }

    #over1 h2{
        font-size: 1vw;
        padding: 5vw 1.5vh;
    }

    #over2 h4{
        font-size: 2vw;
    }

    #over2{
        display: flex;
        align-items: center;
    }

    #scroll{
        height: 16vh;
    }

    #container{
        height: 100%;
        width: 230%;
    }

    #scroll img{
        height: 95%;
        width: 13.5%;
        margin: 1vw;
        object-fit: cover;
        object-position: top;
    }

    #alphabet{
        height: 10vh;
        width: 100%;
        gap: 0.6vw;
    }

    #alphabet h5{
        font-size: 3vw;
        letter-spacing: 4px;
        padding: 1.6vw 1vw;
        margin-right: 2vw;
    }

    #alphabet h6{
        font-size: 2vw;
        padding: 1.6vw 1vw;
        letter-spacing: 4px;
        font-weight: 400;
    }

    #alphabet h6:nth-last-child(1){
        display: none;
    }

    #page2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2.5vw 5vw;
    }

    #page2-part1{
        width: 100%;
        height: 100%;
    }

    #page2-part1 img{
        object-fit: cover;
        height: 90%;
        width: 100%;
        padding: 2vw 2vw 0 2vw;
    }

    #page2-part1 > h5{
        font-size: 6vw;
        text-align: center;
        padding-bottom: 3vw;
        width: 100%;
    }

    #page2-part2{
        height: 100%;
        width: 100%;
        margin-top: 2vw;
    }

    #page2-part2 img{
        height: 70%;
        width: 100%;
        padding: 0 0 0 3vw;
        object-fit: cover;
    }

    #solo{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #solo h5{
        font-size: 5vw;
        width: 100%;
        margin-bottom: 2vw;
    }

    #solo p{
        width: 100%;
        padding: 1vw 1vw 1vw 4vw;
        font-size: 3vw;
    }

    #page3 > h1{
        text-align: center;
        padding-bottom: 40px;
        font-size: 5vw;
        text-transform: uppercase;
        margin-top: 5vh;
    }

    .elem{
        display: flex;
        height: 10vh;
        width: 100%;
        border-top: 2px solid black;
        justify-content: space-between;
        align-items: center;
        padding: 0.2vw;
        position: relative;
    }

    .elem img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: absolute;
        object-fit: cover;
        left: 12%;
        opacity: 0;
        transition: all ease 0.7s;
    }

    .elem-part2{
        width: 30%;
    }

    .elem-part2 h1{
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 4vw;
    }

    .elem-part2 h5{
        font-size: 2vw;
        font-weight: 200;
        text-transform: uppercase;
    }

    #marque{
        display: flex;
        white-space: nowrap;
        width: 100%;
        padding: 8vw;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin-top: 6vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #marque h1{
        display: inline-block;
        font-size: 10vw;
        margin-right: 16px;
        text-transform: uppercase;
        font-weight: 900;
        -webkit-text-stroke: 1px black;
        color: transparent;
        animation-name: move;
        animation-duration: 2s;
        letter-spacing: 3px;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes move{
        from{
            transform: translateX(0);
        }

        to{
            transform: translateX(-100%);
        }
    }

    #footer{
        text-align: center;
        padding: 30px;
    }

    #footer h5{
        font-size: 3vw;
        letter-spacing: 1.5px;
    }

    #footer a{
        text-decoration: none;
        color: black;
    }
    
}